@model List<Dish>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Welcome Sucka!</h1>

    <div style="display: flex; flex-direction: row; justify-content: center; color: green">
        <p style="margin-right: 50px">Recent Dishes</p>
        <a asp-controller="Home" asp-action="Form">Add a Dish</a>
    </div>

    <ul style="list-style-type: none">

        @foreach (var x in Model)
        {
            <hr style="width: 300px; margin: auto" />
            <li>@x.Name</li>
            <li>@x.Tastiness</li>
            <li>@x.Calories</li>
            <li>@x.Tastiness</li>
            <li>@x.Description</li>
            <li><a asp-controller="Home" asp-action="ViewDish" asp-route-id="@x.Id">View</a></li>
        }

    </ul>


</div>
