@model List<Dish>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Welcome Sucka!</h1>

    <div style="display: flex; flex-direction: row">
        <p>Recent Dishes</p>
        <a href="/form">Add a Dish</a>
    </div>
    <ul>
        @foreach (var x in Model)
        {
            <li>@x.Name</li>
            <li>@x.Tastiness</li>
            <li>@x.Calories</li>
            <li>@x.Tastiness</li>
            <li>@x.Description</li>
        }

    </ul>


</div>
