@model DotNet_EF_CRUD.Models.Dish

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Welcome Sucka!</h1>

    <ul>
        <li>@Model.Name</li>
        <li>@Model.Name</li>
        <li>@Model.Name</li>
        <li>@Model.Name</li>
        <li>@Model.Name</li>
    </ul>


</div>
