@model DotNet_EF_CRUD.Models.Dish

<div style="display: flex; flex-direction: row; justify-content: center; color: green">
    <h1></h1>
    <p style="margin-right: 50px">Add a Dish</p>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>

<div>

    <h1>@Model.Name</h1>
    <h3>@Model.Chef</h3>

    <p>@Model.Description</p>
    <p>Calories: @Model.Calories</p>
    <p>Tastiness: @Model.Tastiness</p>

</div>
